ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 26px;
}

a {
    color: white;
}

body {
    background-image: url(imagem/fundo01.jpg);
    background-repeat: no-repeat;
}

nav {
    background-color: black;
    height: 30px;
    border-style: groove;
    border: 5px;

}

.direita {
    text-align: right;
}

.center {
    text-align: center;
}

.esquerda {
    text-align: left;
}

p {
    font-size: 30px;
    color: rgb(209, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
}